.app-link {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96px;
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.app-link:hover,
.app-link:focus {
    background-color: var(--theme-primary050);
    cursor: pointer;
}

.app-link:hover>div {
    font-weight: 500;
    cursor: pointer;
}

.app-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.app-name {
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}


.truncate {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    text-align: center;
    margin-top: 10px;
}