
html {
  background-color: #F3F3F3;
  font-family: Roboto, Arial, sans-serif;
}

.app-wrapper {
  margin-top: 4rem;
}

.left-bar {
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: 295px;
}

.main-content {
  margin-left: 325px;
}
